{% extends "layout.html" %}
{% load static %}
{% block body %}
<h1 style="color:cyan";>Search Results:</h1>

<div class="row">
    {% for i in current_book %}
    <div class="col-sm-6">
        <div class="card-mb-3">
            <div class="card-body">
                <a class="card-link" href="{% url 'details' i.bookID  %}">{{ i.title }}</a></div></div></div>
            {% endfor %}
            


        </div>
    <h1 style="color:cyan";>YOUR RECOMMENDATIONS:</h1>
        
        <div class="row">
            {% for i in data %}
          
                <div class="col-sm-6">
            <div class="card-mb-3">
                <div class="card-body">
                
            
            <a class="card-link"  href="{% url 'details' i.0 %}">{{ i.1 }}</a></div></div>

            </div><br>
            
    
            {% endfor %}
        </div>
{% endblock %}







